.wrapper {
  background-color: white;
  overflow: hidden;
  position: relative;
  .main {
    padding: 50px;
    &__slider {
      &--image {
        width: 50vw;
        text-align: center;
        margin: 50px auto;
      }
    }

    &__info {
      .clear{
        clear:both;
      } 
      &--introduction {
        height: 100px;
        background-color: white;
        color: blue;
        line-height: 100px;
        text-align: center;
      }
      &--image {
        text-align: center;
        .info-image {
          object-fit: contain;
          height: 400px;
          margin: 0 auto;
        }
      }
    }
    &__production { 
      text-align: center;
      margin-top: 50px;
      &__image {
        .pro-image1 {
          object-fit: contain;
          margin: 0 auto;
          height: 400px;
        }
      }
      &__name {
        font-weight: bolder;
        text-decoration-style: solid;
      }
      &__price {
        font-weight: bolder;
        text-decoration-style: solid;
      }
      &__shop-link {

      }
    }
    &__contact {
      margin-top: 50px;
      text-align: center;
      &--info {
        height: 50px;
        background-color: white;
        line-height: 50px;
      }
      &--adress{
        height: 50px;
        background-color: white;
        color: green;
      }
    }
  }
}