.header {
  height: 5vw;
  width: 100vw;
  background-color: white;
  border-bottom: groove 2px black;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1;
  margin: 0;
  padding: 0;
  &__icon {
    flex: 0.3;
  }

  &__top {
    @include menu();
  }

  &__info {
    @include menu();
  }

  &__products {
    @include menu();
  }

  &__contact {
    @include menu();
  }

  &__shop {
    @include menu();
  }
}
.header-content {
  color: black;
  font-weight: bolder;
  text-decoration: none;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
}