.wrapper
  = render "/layouts/header"
  .main
    .main__slider
      .main__slider--image
        image
    .main__info
      .main__info--introduction
        これからの地球のためにできること
      .main__info--image
        image
    .main__production
      .main__productio__left
        .main__production__left--image
          image
      .main__production__right
        .main__production__right--introduction
          ぱんビール（仮）
        .main__production__right--shop-link
          ご購入はこちら
    .main__contact
      .main__contact--info
        お問い合わせはこちら
      .main__contact--adress
        breadbeer@gmail.com
  .bottom
