.header
  .header__icon
    .header__icon--image
  .header__top
    = link_to "TOP", "#top", id: "top"
  .header__info
    = link_to "INFO", "#info"
  .header__products
    = link_to "PRODUCT", "#product"
  .header__contact
    = link_to "CONTACT", "#contact"
  .header__shop
    ONLINE SHOP
